@charset "ISO-8859-1";

body{
	background-color: black;
}

#topMenu a{
	display: block;
	text-decoration: none; 
}


#topMenu{
	background-color: black;
	font: helvetica;
	color: white;
	width: 100%;
	text-align: center;
}

#topMenu td{
	height: 50px;
}

#topMenu td:hover{
	background-color: #ffd100;
	color: black;
}

table.center{
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: gray;
	text-align: center;
}

table.center, tr{
	border-collapse: collapse;
	border: 1px solid gray;
	
}

img.biltype{
	border-style: solid;
	border-color: gray;
}

img.biltype:hover{
	width: 200%;
	heigth: 200%;
}

#container{
	width: 1000px;
	heigth: 1000px;
	background-color: black;
}

.order {
	float: left;
	width: 30%;
	background-color: white;
}

.image {
	float: left;
	width: 50%